fastapi
uvicorn[standard]
SQLAlchemy==2.0.28
asyncpg
alembic
pydantic>=2.0
python-jose
passlib[bcrypt]
python-dotenv
aioredis
psycopg2-binary
python-multipart
redis[asyncio]
pydantic-settings
pytest
pytest-asyncio>=0.20
pytest-cov
httpx
pytest-mock
locust
